* {
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}

body {
    padding: 0.5em 6.5vw 1em 6.5vw;
    background-color: #2c2c2c;
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}

/*Nav bar*/
nav {
    height: 10vw;
    display: flex;
    background-color: #1a1a1a;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    border-radius: 1.05vw;
    border: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: fixed;
    top: 0;
    left: 6.5vw;
    right: 6.5vw;
    z-index: 1000;

}

nav .logo {
    width: 10%;
    background-image: url("RCL-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.6vw;
    margin-left: 0.5vw;
    margin-bottom: 0.6vw;
    border-radius: 1.05vw;
}

nav .name {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    cursor: pointer;
    background: none;
}

.name #club-name {
    font-size: 2.08vw;
    color: #8b0000;
    font-weight: bold;
}

.name #clz-name {
    color: #e0e0e0;
    font-weight: bold;
    font-size: 1.04vw;
}

nav .cards {
    width: 60%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards #cards-list {
    display: flex;
    align-items: center;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8vw;
    font-size: 1.3vw;
}

.cards li {
    list-style: none;
    width: 2vw;
}

.cards li a {
    transition: 0.3s ease-out;
    background: none;
    text-decoration: none;
    color: #e0e0e0;
    cursor: pointer;
    text-shadow: 0.13vw 0.13vw 0.325vw #ebe0e0;
}

.cards li a:hover {
    font-size: 1.05em;
    color: #d32828;
}

nav .check-box {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The toggle switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background: none;
}

/* Hide the default checkbox */
.switch input {
    display: none;
}

/* Slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2ce3f0;
    border-radius: 25px;
    transition: 0.3s;
}

/* Circle/knob */
.slider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: rgb(95, 239, 244);
    border-radius: 50%;
    transition: 0.3s;
}

/* When checked */
input:checked+.slider {
    background-color: #950d0d;
}

/* Move the knob when checked */
input:checked+.slider:before {
    transform: translateX(24px);
}


/* First section */
main .firstSection {
    background-color: #e0e0e0;
    margin-top: 6.89vw;
    height: 39vw;
    background-image: url(robo.jpg);
    background-size: cover;
    box-shadow: inset 1.3vw 1.3vw 5.2vw black;
    border-radius: 0.65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    scroll-margin-top: 25vh;
}

main .slogan {
    color: #8b0000;
    font-size: 5.2vw;
    background: none;
    font-family: Helvetica, bold sans-serif;
    font-weight: 400;
    text-shadow: 0.065vw 0.325vw 0.65vw #070303;
    margin-left: 3.25vw;
}

main .nameColor {
    color: #e6d7d7;
    font-size: 2.6vw;
    background: none;
    margin-left: 3.25vw;
    text-shadow: 0.065vw 0.26vw 0.325vw #c90f0f;
}

main .clzName {
    color: #d7bbbb;
    font-size: 1.3vw;
    position: relative;
    top: -8px;
    background: none;
    margin-left: 3.25vw;
    text-shadow: 0.065vw 0.26vw 0.325vw #c90f0f;
}

main #element {
    height: 2.5vw;
    color: #e0e0e0;
    background: none;
    font-size: 2.6vw;
    text-shadow: 0.065vw 0.26vw 0.325vw #c90f0f;
    margin-top: 3.5vw;
    margin-left: 3.25vw;
}


/*Second section*/

/*projects*/
main .secondSection #projectContainer {
    background-color: #1a1a1a;
    margin-top: 5.2vw;
    height: 45.5vw;
    border-radius: 0.65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    scroll-margin-top: 20vh;
}

.tittle {
    height: 15%;
    width: 20%;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8b0000;
    font-family: Helvetica, bold sans-serif;
    font-size: 1.95vw;
    cursor: pointer;
}

#project {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#subProjects {
    height: 16.25vw;
    width: 16.25vw;
    background-color: #2c2c2c;
    border-radius: 0.53vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    cursor: pointer;
    margin: 0.65vw 1.3vw 0.65vw 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-size: larger;
}

/* team */
main .secondSection #teamContainer {
    background-color: #1a1a1a;
    margin-top: 5.2vw;
    height: 45.5vw;
    border-radius: 0.65vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    scroll-margin-top: 20vh;
}

main .secondSection #teamContainer .team_content {
    height: 85%;
    width: 100%;
    display: flex;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .secondSection #teamContainer .team_content .RCL_teams {
    height: 15vw;
    width: 10vw;
    background-color: #2c2c2c;
    border-radius: 0.65vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RCL_teams .team_member_image {
    margin-top: 0.3vw;
    background-size: cover;
    height: 70%;
    width: 90%;
    border-radius: 0.65vw;
    cursor: pointer;
    transition: 1s ease-out;

}

.RCL_teams .team_member_image:do {
    transition-duration: 2s;
    transform: scale(2);
}

.RCL_teams .team_member_name {
    color: #f8f8f8;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.RCL_teams .team_member_post a {
    color: #f2bcbc;
    font-size: 1vw;
    text-decoration: none;
}


/* events */
main .secondSection #eventsContainer {
    background-color: #1a1a1a;
    margin-top: 5.2vw;
    height: 45.5vw;
    border-radius: 0.325vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    scroll-margin-top: 20vh;
}

#eventsContainer .event_content {
    height: 85%;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

#eventsContainer .event_content .event {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 25%;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

#eventsContainer .event_img {
    height: 100%;
    width: 30%;
    border-radius: 3vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    text-align: center;
    background-image: url("robo.jpg");
    background-size: cover;
    cursor: pointer;
}

#eventsContainer .event_description {
    height: 100%;
    width: 80%;
    border-radius: 3vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    background-color: #2c2c2c;
    color: #e0e0e0;
    font-size: 2vw;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

/* about us */
main .secondSection #aboutContainer {
    background-color: #1a1a1a;
    margin-top: 5.2vw;
    height: 45.5vw;
    border-radius: 0.65vw;
    scroll-margin-top: 20vh;
}

.about_content {
    height: 80%;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: column;
    gap: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.about_content p {
    text-align: justify;
}


/* gallery */
main .secondSection #galleryContainer {
    background-color: #1a1a1a;
    margin-top: 5.2vw;
    height: 45.5vw;
    border-radius: 0.65vw;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    scroll-margin-top: 20vh;
}

/* footer */
.line {
    margin-bottom: 0;
    height: 0.065vw;
    width: 100%;
    background-color: #615f5f;
}

footer {
    height: 20vw;
    background-color: #1b1919;
    box-shadow: 0.065vw 0.13vw 1.3vw rgb(0, 0, 0);
    border: none;
    border-radius: 1.05vw;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* upper footer */
footer #upperFoot {
    height: 80%;
    display: flex;
    margin: 0px 0px 1px 0px;
}

/* logo */
#upperFoot .footLogo {
    background: none;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
}

#upperFoot .footLogo .img {
    height: 100%;
    width: 50%;
    background: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

#upperFoot .footLogo .img img {
    height: 5vw;
    width: 5vw;
    background: none;
    border-radius: 0.65vw;
    cursor: pointer;
}

#upperFoot .footLogo .name {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.65vw;
    cursor: pointer;
}

footer .name .clubName {
    font-size: 1.5vw;
    color: #8b0000;
    font-weight: bold;
}

footer .name .clzName {
    font-size: 0.6vw;
    color: #e0e0e0;
    font-weight: bold;
}

/* quick link */
#upperFoot .quickLinks {
    background-color: #1b1919;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quickLinks .midFoot {
    margin-left: 7vw;
    margin-top: 0.5vw;
    color: #ffffff;
}

.quickLinks .midFoot a {
    text-decoration: none;
    background: none;
    color: #a79292;
}

.quickLinks #quickLinks {
    margin-left: 6vw;
    color: #e0e0e0;
    cursor: pointer;
}

/* contact */
#upperFoot .contact {
    background-color: #1b1919;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact .rightFoot .contactImg {
    height: 1.5vw;
    width: 1.5vw;
    background: none;
}

.contact .rightFoot {
    margin-left: 2vw;
    margin-top: 0.5vw;
    color: #a79292;
}

.contact .text a {
    text-decoration: none;
    color: #a79292;
}

.contact #contact {
    margin-left: 1vw;
    color: #e0e0e0;
}

/* citation */
footer #lowerFoot {
    height: 20%;
    background-color: #1b1919;
    color: #645959;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #lowerFoot img {
    height: 1vw;
    position: relative;
    top: 0.05vw;
}


/* ============================
Responsive for screens < 768px
   ============================ */
@media (max-width: 768px) {

    /* nav-bar */
    body{
        margin: 0;
        padding-left: 0vw;
    }

    nav {
        left: -0.5vw;
        height: 60vw;
        width: 142vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    nav .logo {
        position: relative;
        left: -35vw;
        top: 5vw;
        height: 157vw;
        width: 25vw;
    }

    nav .name {
        height: 90vw;
        width: 40vw;
        position: relative;
        left: 0vw;
        top: -15vw;
        justify-content: center;

    }

    .name #club-name {
        font-size: 7.2vw;
        font-weight: bold;
    }

    .name #clz-name {
        font-weight: bold;
        font-size: 2.72vw;
    }

    nav .cards {
        width: 100%;
        height: 100%;
        position: relative;
        top: 3vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .cards #cards-list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20vw;
        font-size: 5.3vw;
    }

    .cards li {
        position: relative;
        left: -7vw;
    }

    nav .check-box {
        position: relative;
        top: -45vw;
        right: -45vw;
    }

    /* home-page */
    main .firstSection {
        position: relative;
        margin-top: 60vw;
        width: 136vw;
        height: 150vw;
        scroll-margin: 70vw;
    }

    main .slogan {
        color: #b15454;
        position: relative;
        top: -20vw;
        left: -3.3vw;
        height: 30vw;
        width: 100%;
        font-size: 12vw;
    }

    main .nameColor {
        color: #edb2b2;
        height: 10vw;
        position: relative;
        top: -15vw;
        font-size: 8vw;
    }

    main .clzName {
        color: #fffefe;
        height: 7vw;
        font-size: 4vw;
        position: relative;
        top: -15vw;
    }

    main #element {
        font-size: 10vw;
    }

    /* second-section */
    main .secondSection #projectContainer {
        margin-top: 5vw;
        width: 136vw;
        height: 300vw;
        scroll-margin: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tittle {
        width: 100%;
        font-size: 10vw;
    }

    #subProjects {
        height: 60vw;
        width: 50vw;
    }

    /* about us */
    main .secondSection #aboutContainer {
        margin-top: 5vw;
        width: 136vw;
        height: 200vw;
        scroll-margin: 70vw;
    }
    main .secondSection #aboutContainer .about_content p{
        font-size: 5vw;
    }

    /* events */
    main .secondSection #eventsContainer {
        margin-top: 5vw;
        width: 136vw;
        height: 200vw;
        scroll-margin: 70vw;
    }
    main .secondSection #eventsContainer .event_content div{
        font-size: 5vw;
    }
    main .secondSection #eventsContainer .event_content a{
        font-size: 4vw;

    }

    /* team */
    main .secondSection #teamContainer {
        margin-top: 5vw;
        width: 136vw;
        height: 310vw;
        scroll-margin: 70vw;
    }
    main .secondSection #teamContainer .team_content .RCL_teams{
    height: 60vw;
    width: 40vw;
    
    }
    main .secondSection #teamContainer .team_content .RCL_teams .team_member_image{
    height: 70%;
    }
    main .secondSection #teamContainer .team_content .RCL_teams .team_member_name{
    font-size: 5vw;
    }
    main .secondSection #teamContainer .team_content .RCL_teams .team_member_post a{
    font-size: 4vw;
    text-decoration: underline;
    }

    /* gallery */
    main .secondSection #galleryContainer {
        margin-top: 5vw;
        width: 136vw;
        height: 300vw;
        scroll-margin: 70vw;
    }

    /* footer */
    footer {
        height: 200vw;
        width: 100%;
    }

    #upperFoot {
        background-color: #1b1919;
        position: relative;
        height: 80%;
        flex-direction: column;
        gap: 3vw;
        align-items: center;
        width: 136vw;
    }

    #upperFoot .footLogo {
        width: 100%;
        height: 80vw;
    }

    #upperFoot .footLogo .img img {
        width: 20vw;
        height: 20vw;
        border-radius: 3vw;
    }

    #upperFoot .name .clubName {
        font-size: 6vw;
    }

    #upperFoot .name .clzName {
        font-size: 2vw;
    }

    #upperFoot .quickLinks {
        width: 100%;
    }

    #upperFoot .quickLinks .midFoot {
        margin-left: 50vw;
    }

    #upperFoot .quickLinks .midFoot a {
        position: relative;
        left: 5.5vw;
        top: 1vw;
    }

    #upperFoot .contact {
        width: 100%;
    }

    #upperFoot .contact .rightFoot {
        margin-left: 40vw;
        margin-right: 20vw;
        margin-top: 2vw;
    }

    #upperFoot .contact .rightFoot img {
        height: 5vw;
        width: 5vw;
    }

    #lowerFoot {
        width: 136vw;
    }

    #lowerFoot #citation {
        width: 136vw;
        margin: 0 10vw 0 15vw;
    }

    #lowerFoot #citation img {
        height: 5vw;
    }

    .line {
        width: 136vw;
        height: 2vw;
    }

}